main {
  background-color: #12264e;
  color: rgb(255, 255, 255);
  padding: 60px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
}

nav{
  background-color: black;
  padding: 10px;
}

button {
  border-radius: 20px;
  padding: 3px;
}

h1{
  color: bisque;
}

footer{
  color: blueviolet;
  
}
form{
  display: flex;
  flex-direction: column;
}

button{
  margin: 3px;
}